body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', sans-serif;
}
p{
    color: white;
    text-align: center;
    font-size: x-small;
}
img{
    border: 5px solid white;
    width: 100%;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}