body{
    background-color:rgb(223, 249, 249);
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(0, 0, 0);
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color:#ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.4s ease;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* Add a background image for the hero section*/
  .hero {
    background-image: url("hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  .abouthero {
    background-image: url("abouthero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  .contacthero {
    background-image: url("contacthero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  .bloghero {
    background-image: url("bloghero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  .main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }
  
  .blog-section {
    background-color: (223, 249, 249);
    padding: 50px;
  }
  
  .blog-container {
    display: flex;
    justify-content: space-between;
  }
  
  .blog {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
  }
  
  .blog img {
    width:80%;
    height:auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .blog h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
  }
  
  .blog p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .blog a {
    display: inline-block;
    background-color: #3b9bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .blog a:hover {
    background-color: #2375d3;
  }
  footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 16px;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  ul li a:hover {
    color: #c7940a;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #c7940a;
    color: #ffffff;
  }
  button:hover{
    background-color: #ffffff;
    color: #c7940a;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }
  